@import "font-awesome/font-awesome";

@font-face{
  font-family: 'Sofia Pro Medium';
  src:font-url('sofia_pro_medium')format("woff");
}
@font-face{
  font-family: 'Sofia Pro SemiBold';
  src:font-url('sofia_pro_semi_bold')format("woff");
}
@font-face{
  font-family: 'Sofia Pro';
  src:font-url('sofia_pro')format("woff");
}